.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.navButton {
  border-radius: 0px;
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: rgb(209, 209, 207);
}

.welcome {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  float: left;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  float: right;
}

.logoutButton {
  border-radius: 0px;
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: rgb(218, 92, 92);
}

nav {
  background-color: rgb(162, 185, 169);
}